# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Translations
*.mo

# Editor backups
*~

# Manual backups
*.sav

# All (real) config files except example.cfg, unknown_host.cfg
config/*.cfg
!config/example.cfg
!config/unknown_host.cfg

# source and development stuff
Krempel/

# met.no default data cache
data/

# Syncthing folder
.stfolder/

# logs
*.log
